body {
    background: rgb(100,100,195);
    background: linear-gradient(90deg, rgba(100,100,195,1) 0%, rgba(204,28,28,1) 100%);
    color: #FCE8DF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.login{
    background: rgb(221,221,232);
    background: radial-gradient(circle, rgba(221,221,232,1) 0%, rgba(232,71,71,1) 100%);
    height: 200px;
    width: 250px;
    margin-left: 240px;
    margin-top: 20px;
    border-radius: 15px;
}

.login input{
    margin-top: 0px;
    border-radius: 2px;
    border-color: blue;
    border:;
}

.login button{
    background: rgb(116,116,191);
    background: linear-gradient(90deg, rgba(116,116,191,1) 0%, rgba(52,138,199,1) 100%);
    margin-top: 20px;
    width: 120px;
    height: 30px;
    color: white;
    border-radius: 8px;
    border: white;
}

.login img{
    width: 150px;
    height: auto;
}

#miBoton:hover {
    background: rgb(97,97,205);
    background: linear-gradient(90deg, rgba(97,97,205,1) 0%, rgba(204,99,99,1) 100%);
    color: white;
}

.login h1{
    font-size: 18px;
    color: white;
}